# *** DEC 2020: below container commands result in deployment errors ***
# container_commands:
#   00_migrate:
#     command: "python manage.py migrate"
#     leader_only: true
#   01_collect_static_files:
#     command: "python manage.py collectstatic --clear --no-input"

# Option Settings
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions-optionsettings.html
option_settings:
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html#command-options-python
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings
      # specifies which settings file to use

  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi
      # The file that contains the WSGI application.
      # This file must have an application callable.
    NumProcesses: 1
      # The number of daemon processes that should be started
      # for the process group when running WSGI applications
    NumThreads: 15
      # The number of threads to be created to handle requests
      # in each daemon process within the process group
      # when running WSGI applications

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
      # set the proxy to use on your environment's instances

  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html#environment-cfg-staticfiles.namespace
  # On the Python and Ruby platforms,
  # Elastic Beanstalk configures some static file folders by default

  # start the path with a slash (/)
  # specify a directory name in the root of your application's source code;
  # don't start it with a slash
  
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-container.html
  # By default, the proxy server in a Python environment serves
  # any files in a folder named static at the /static path
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .staticfiles

packages:
  yum:
    gcc-c++: []
    git: []
    mariadb-devel: []
    # mysql-devel: []
      # using mariadb-devel instead
      # (mysql-devel encounters AWS EB deployment error)
    # postgresql-devel: []
      # already installed by default on AWS EB servers
