{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:prettier/recommended",
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    // Make prettier code formatting suggestions more verbose.
    "prettier/prettier": ["warn"],
    // Disable <Fragment> => <> replacement. Feel free to change
    "react/jsx-fragments": "off",
    // Disable prefer default export
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "ecmaVersion": 12,
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
