# DATA MANAGEMENT & PROCESSING
CloudPickle == 1.6.0
NumPy == 1.19.5
Pandas == 1.2.1
PyArrow == 2.0.0
Ray[tune] == 1.1.0
S3FS >= 0.4.2, < 0.5


# GRAPH PROCESSING
GraphViz == 0.16


# MACHINE LEARNING
SciKit-Learn == 0.24.1
LIME == 0.2.0.1
SHAP == 0.38.1

# HYPER-PARAMETER TUNING
ConfigSpace == 0.4.17
Hpbandster == 0.7.4
Bayesian-Optimization == 1.2.0
Tabulate == 0.8.7


# FUZZY LOGIC
SciKit-Fuzzy == 0.4.2


# CLOUD
# AWS
Boto3 == 1.16.57


# Other
Click == 7.1.2
Colored == 1.4.2
PSUtil == 5.8.0
PyYAML
    # version range not specified to avoid conflict with AWSCLI
Six == 1.15.0
ULID-Py == 1.1.0

# required by shap
ipython==7.16.1
ipython-genutils==0.2.0
